[Unit]
Description=Limit Usage Xray Service (trojan)
Documentation=FighterTunnel
After=syslog.target network-online.target xray.service

[Service]
User=root
NoNewPrivileges=true
ExecStart=/etc/xray/limit.trojan
Restart=on-failure
RestartSec=15s

[Install]
WantedBy=multi-user.target
