[Unit]
Description=Prepare /var/run/xray ownership
After=network.target

[Service]
Type=oneshot
ExecStartPre=-/usr/bin/mkdir -p /var/run/xray
ExecStart=/bin/chown www-data:www-data /var/run/xray
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
